# DAY 1: VARIABLES AND OPERATORS

# Variables
1. Python Variable is containers that store values.
2. Python is not "statically typed".
3. We do not need to declare variables before using them or declare their datatype.
4. A variable is created the moment we first assign a value to it. 
5. A Python variable is a name given to a memory location. 
6. It is the basic unit of storage in a program.

# Rules for Python Variables
1. A variable name must start with a letter or the underscore character.
2. A variable name cannot start with a number.
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _).
4. Variables name are case sensitive (age, Age and AGE are three different variables).
5. A variable name cannot be any of the Python Keywords.

# Creating Variables
1. Python has no command for declaring a variable.
2. A variable is created the moment you first assign a value to it.
3. Example:
   x = 5
   y = "John"
   print(x)
   print(y)

In [1]:
a = 1
print(a)

1

In [2]:
b = 2
c = 2.3
print(b,c)

2 2.3

In [4]:
x = "apple"
print(x)

apple

In [5]:
student = 23
print(student)

23

In [6]:
1@& = 2
print(1@&)

SyntaxError: invalid syntax (1551044377.py, line 1)

In [7]:
student123 = 25
print(student123)

25

In [8]:
_a = 5
print(_a)

5

# Many values to multiple variables
Python allows you to assign values to multiple variables in one line.

In [9]:
x,y,z = "orange", "banana", "cherry"
print(x,y,z)

orange banana cherry

In [11]:
x = y = z = "orange"
print(x)
print(y)
print(z)

orange
orange
orange

# Python Output variables

In [12]:
x = "python"
y = "is"
z = "amazing"
print(x,y,z)

print()

print(x)
print(y)
print(z)

python is amazing

python
is
amazing

# Data Types
1. Variables can store data of different types, and of the different types.
2. Python has the following data types built-in by default, in these categories:

Text Type     : str
Numeric Type  : int, float, complex
Sequence Type : list, tuple, range
Mapping Type  : dict
Set Type      : set, frozenset
Boolean Type  : bool
Binary Type   : bytes, bytearray, memoryview

In [13]:
x = 2
print(type(x))

<class 'int'>

In [15]:
x = 23.8989898989
print(x)
print(type(x))

23.8989898989
<class 'float'>

In [16]:
z = 2+5j
print(z)
print(type(z))

(2+5j)
<class 'complex'>

In [17]:
a = "hello i am under the water"
print(a)
print(type(a))

hello i am under the water
<class 'str'>

In [18]:
b = [1,2,3,4,5,6,7,8,9,10]
print(b)
print(type(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [19]:
c = (1,2,3,4,5,6,7,8,9,10)
print(c)
print(type(c))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

# To know DataType of a variable

In [20]:
%whos

Variable     Type       Data/Info
---------------------------------
a            str        hello i am under the water
b            list       n=10
c            tuple      n=10
student      int        23
student123   int        25
x            float      23.8989898989
y            str        is
z            complex    (2+5j)

# Operators
1. Operators in general are used to perform operations on values and variables.
2. These are atandard symbols used for the purpose of logical and arithmetic operations.

OPERATORS : These are the special symbols. Ex: +,-,*,/, etc.
OPERAND   : It is the value on which the operator is applied.

# Types of Operators in Python
1. Arithmetic Operators
2. Comparision Operators
3. Logical Operators
4. Bitwise Operators
5. Assignment Operators
6. Identity Operators
7. Membership Operators

# Addition

In [21]:
a = 5+2j
b=4
print(a+b)

(9+2j)

In [23]:
a = "hello"
b = "students"
print(a + " " + b)

hello students

# Subtraction

In [24]:
a = 15
b = 6
print(a-b)

9

In [25]:
a = 5.8965
b = 7.2578
print(a-b)

-1.3613

In [26]:
a = 5+6j
b = 3
print(a-b)

(2+6j)

In [27]:
a = "hello"
b = "students"
print(a-b)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

# Multiplication

In [29]:
a = 15
b = 56
print(a*b)

840

In [30]:
a = 5.689
b = 82.569
print(a*b)

469.735041

# Division

In [31]:
a = 10
b = 5
print(a/b)

2.0

# Modulous (Remainder)

In [32]:
a = 19
b = 3
print(a%b)

1

In [33]:
a = 12
b = 4
print(a%b)

0

# Quotient

In [3]:
a = 12
b = 4
print(a//b)

3

# Exponent (Power)

In [34]:
a = 41256789
b = 55
print(a**b)

71162028433520217717099884851404495326786614148274137562533191244754226421072922193229393035406290047490322006127486170528820460414671897074184746917638236810663780872933871199771053029074871072046645088603300420278272474373361352870797685329285463690039885441075398107839063255747535400015566353549647882767414182717586010912021318113386679928289227315380064286145450539958069165193638416244911434618495833200180049949

In [35]:
a = (859*78)+(78.256/89)+(856**67)+(145698-7526)
print(a)

2.990489165920469e+196

In [37]:
a = True
b = False
print(a and b)
print(a & b)

False
False

In [38]:
a = True
b = True
print(a or b)
print(a | b)

True
True

In [40]:
a = ((8922*2852)+(7821*222)-(25566*256)+(8281/87))
print(a)
print(type(a))

20637005.183908045
<class 'float'>

# DAY 2:BUILT-IN FUNCTIONS

# len() function

In [43]:
a = [12, -8, 5, -7, 2.3, 2, 5, 3.6, "students", "hello", True, False]
print(len(a))

12

# reverse() function

In [49]:
this_list = [12,15,26,78,14,25,96,142,52,22,6,5]
print(this_list[::-1])

[5, 6, 22, 52, 142, 96, 25, 14, 78, 26, 15, 12]

# abs() function

In [2]:
x = abs(-7.25)
print(x)

7.25

In [3]:
y = abs(-8)
print(y)

8

In [4]:
z = abs(3+5j)
print(z)

5.830951894845301

# bin() function

In [5]:
x = bin(13)
print(x)

0b1101

In [6]:
y = bin(36)
print(y)

0b100100

In [7]:
z = bin(56)
print(z)

0b111000

# python bytes() function

In [8]:
x = bytes(4)
print(x)

b'\x00\x00\x00\x00'

In [9]:
x = bytes(16)
print(x)

b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

# python chr() function

In [10]:
x = chr(97)
print(x)

a

In [11]:
y = chr(98)
print(y)

b

In [12]:
z = chr(99)
print(z)

c

In [13]:
y = chr(94)
print(y)

^

In [14]:
y = chr(95)
print(y)

_

# complex() function

# x = complex(real, imaginary)

In [15]:
x = complex(3,5)
print(x)

(3+5j)

In [16]:
y = complex(2.5,3.96)
print(y)

(2.5+3.96j)

In [17]:
z = complex('2')
print(z)

(2+0j)

# float() function

In [18]:
x = float(3)
print(x)

3.0

In [19]:
x = float(3.56)

In [20]:
print(x)

3.56

# int() function

In [21]:
x = int(12)
print(x)

12

In [22]:
x = int(12.56)
print(x)

12

In [23]:
y = int(12+3j)
print(y)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [24]:
z = int(846.572)
print(z)

846

# str() function

In [25]:
a = str("2568")
print(a)
print(type(a))

2568
<class 'str'>

In [26]:
b = str(25.63)
print(b)
print(type(b))

25.63
<class 'str'>

# To know what is the use of function

# help() function

In [27]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [28]:
help(float)

Help on class float in module builtins:

class float(object)
 |  float(x=0, /)
 |
 |  Convert a string or number to a floating point number, if possible.
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(self, /)
 |      Return the ceiling as an Integral.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(self, /)
 |      Return the floor as an Integral.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Formats the float according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __round__(self, ndigits=None, /)
 |      Return the Integral closest to x, rounding half toward even.
 |
 |      When an argument is passed, work like built-in round(x, ndigits).
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(self, /)
 |      Return the Integral closest to x between 0 and x.
 |
 |  as_integer_ratio(self, /)
 |      Return integer ratio.
 |
 |      Return a pair of integers, whose ratio is exactly equal to the original float
 |      and with a positive denominator.
 |
 |      Raise OverflowError on infinities and a ValueError on NaNs.
 |
 |      >>> (10.0).as_integer_ratio()
 |      (10, 1)
 |      >>> (0.0).as_integer_ratio()
 |      (0, 1)
 |      >>> (-.25).as_integer_ratio()
 |      (-1, 4)
 |
 |  conjugate(self, /)
 |      Return self, the complex conjugate of any float.
 |
 |  hex(self, /)
 |      Return a hexadecimal representation of a floating-point number.
 |
 |      >>> (-0.1).hex()
 |      '-0x1.999999999999ap-4'
 |      >>> 3.14159.hex()
 |      '0x1.921f9f01b866ep+1'
 |
 |  is_integer(self, /)
 |      Return True if the float is an integer.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __getformat__(typestr, /) from builtins.type
 |      You probably don't want to use this function.
 |
 |        typestr
 |          Must be 'double' or 'float'.
 |
 |      It exists mainly to be used in Python's test suite.
 |
 |      This function returns whichever of 'unknown', 'IEEE, big-endian' or 'IEEE,
 |      little-endian' best describes the format of floating point numbers used by the
 |      C type named by typestr.
 |
 |  fromhex(string, /) from builtins.type
 |      Create a floating-point number from a hexadecimal string.
 |
 |      >>> float.fromhex('0x1.ffffp10')
 |      2047.984375
 |      >>> float.fromhex('-0x1p-1074')
 |      -5e-324
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  real
 |      the real part of a complex number

# input() function

In [33]:
x = input("enter your name")
print("hello", x)

enter your name arpan

hello arpan

In [32]:
y = input("enter your age")
print("your age is: ", y)

enter your age 23

your age is:  23

In [34]:
x = input("enter your name")
print("hello", x)
y = input("enter your age")
print("your age is: ", y)

enter your name arpan panigrahi

hello arpan panigrahi

enter your age 23

your age is:  23

# DAY 2: LIST 
1. Lists are used to store multiple items in a single variable.
2. Lists are one of 4 built-in data type in Python  used to store collections of data, the other 3 are Tuple, Set, and Dictionary.
3. Lists need not be homogeneous always which makes it the most powerful tool in Python.
4. A single list may contain DataTypes like Integers, Strings, as well as Objects.
5. Lists are Mutable, and hence, they can be altered even after their creation.
6. Lists items are Ordered, Changeable and allow Duplicate values.

# Creating a list

In [35]:
mylist = ["apple", "banana", "cherry"]
print(mylist)
print(type(mylist))

['apple', 'banana', 'cherry']
<class 'list'>

# Allow Duplicates

In [36]:
mylist = ["apple", "banana", "apple", "cherry", "banana", "apple"]
print(mylist)

['apple', 'banana', 'apple', 'cherry', 'banana', 'apple']

# data types

In [37]:
list1 = ["apple", "banana", "cherry"]
list2 = [2,5,8]
list3 = [7.8, 8.9, 2.5]
list4 = [True, False, True]
print(list1)
print(list2)
print(list3)
print(list4)

['apple', 'banana', 'cherry']
[2, 5, 8]
[7.8, 8.9, 2.5]
[True, False, True]

In [39]:
a = [12, -8, 5, -7, 2.3, 2, 5, 3.6, "students", "hello", True, False]
print(a)

[12, -8, 5, -7, 2.3, 2, 5, 3.6, 'students', 'hello', True, False]

# List Length

In [40]:
a = [12, -8, 5, -7, 2.3, 2, 5, 3.6, "students", "hello", True, False]
print(len(a))

12

In [42]:
b = (15, 8, 9, 3, 4, 6, 7, 8, 9, 25)
print(len(b))

10

# Access Items (Indexing)
1. start its first address location as 0 to so on.
2. last element means -1.

In [44]:
this_list = [12,15,26,78,14,25,96,142,52,22,6,5]
print(this_list[5])

25

In [45]:
this_list = [12,15,26,78,14,25,96,142,52,22,6,5]
print(this_list[0])

12

In [46]:
this_list = [12,15,26,78,14,25,96,142,52,22,6,5]
print(this_list[-1])

5

In [47]:
this_list = [12,15,26,78,14,25,96,142,52,22,6,5]
print(this_list[-2])

6

# Slicing of list
[start, end-1]

In [50]:
this_list = [12,15,26,78,14,25,96,142,52,22,6,5]
print(this_list[0:6])

[12, 15, 26, 78, 14, 25]

In [51]:
this_list = [12,15,26,78,14,25,96,142,52,22,6,5]
print(this_list[3:9])

[78, 14, 25, 96, 142, 52]

In [53]:
this_list = [12,15,26,78,14,25,96,142,52,22,6,5]
print(this_list[0:12:2])
# [start, end, skip_jump]

[12, 26, 14, 96, 52, 6]

# Change items

In [55]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "strawberry"
print(thislist)

['apple', 'strawberry', 'cherry']

In [56]:
a = [12, 14, 15, 16, 8, 9, -5, -3, 41, -9]
a[2] = "students"
print(a)

[12, 14, 'students', 16, 8, 9, -5, -3, 41, -9]

# Change a range of item values

In [57]:
a = [12, 14, 15, 16, 8, 9, -5, -3, 41, -9]
a[2:4] = ["books", "pen", "paper"]
print(a)

[12, 14, 'books', 'pen', 'paper', 8, 9, -5, -3, 41, -9]

# How to add element in a list

In [58]:
a = [12, 14, 15, 78, 96, 25]
a.append(-9)
print(a)

[12, 14, 15, 78, 96, 25, -9]

# How to remove an particular element in a list

In [59]:
m = ["paper", "pen", "hello", "arpan"]
m.remove("pen")
print(m)

['paper', 'hello', 'arpan']

# How to reverse a list

In [60]:
my_list = [1,2,3,4,5,"python","sql","excel"]
my_list.reverse()
print(my_list)

['excel', 'sql', 'python', 5, 4, 3, 2, 1]

In [62]:
my_list = [1,2,3,4,5,"python","sql","excel"]
print(my_list[::-1])

['excel', 'sql', 'python', 5, 4, 3, 2, 1]

# TUPLES
1. Tuples are used to store multiple items in a single variable.
2. Difference btw List & Tuple is that we cannot change the elements of a tuple once it is assigned whereas we can change the element in a list.
3. Tuples are Ordered, Unchangeable and allow duplicate values.

# Creating a Tuple

In [65]:
my_tuple = (1,2,3)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3)
<class 'tuple'>

# Mixed datatypes

In [66]:
x = (1, "hello", 3.45, 4+5j)
print(x)
print(type(x))

(1, 'hello', 3.45, (4+5j))
<class 'tuple'>

# Empty tuple

In [67]:
a = ()
print(a)
print(type(a))

()
<class 'tuple'>

# Nested tuple

In [68]:
a = ("data", [1,2,3], (4,5,6))
print(a)
print(type(a))

('data', [1, 2, 3], (4, 5, 6))
<class 'tuple'>

# Creating a tuple with only one item

In [69]:
var1 = ("hello")
print(var1)
print(type(var1))

hello
<class 'str'>

In [70]:
var2 = ("hello",)
print(var2)
print(type(var2))

('hello',)
<class 'tuple'>

# Tuple Constructor

In [71]:
a = tuple(("a","b","c"))
print(a)
print(type(a))

('a', 'b', 'c')
<class 'tuple'>

# Indexing

In [72]:
a = (47,48,45,46,48,4,8)
print(a[5])

4

In [73]:
a = (47,48,45,46,48,4,8)
print(a[-5])

45

# Slicing

In [74]:
a = (14,15,17,821,5,852,8,29,2,8,2,4)
print(a[0:6])

(14, 15, 17, 821, 5, 852)

In [75]:
a = (14,15,17,821,5,852,8,29,2,8,2,4)
print(a[:6])

(14, 15, 17, 821, 5, 852)

In [76]:
a = (14,15,17,821,5,852,8,29,2,8,2,4)
print(a[:])

(14, 15, 17, 821, 5, 852, 8, 29, 2, 8, 2, 4)

In [78]:
a = (14,15,17,821,5,852,8,29,2,8,2,4)
print(a[::2])
# gap of 1 element

(14, 17, 5, 8, 2, 2)

# Reverse

In [79]:
a = (14,15,17,821,5,852,8,29,2,8,2,4)
print(a[::-1])

(4, 2, 8, 2, 29, 8, 852, 5, 821, 17, 15, 14)

In [81]:
T = (1,2,3,4,5,6,7,8)
print(T[::])
print(T[3:])
print(T[:4])
print(T[-2:-5])

(1, 2, 3, 4, 5, 6, 7, 8)
(4, 5, 6, 7, 8)
(1, 2, 3, 4)
()

In [82]:
t = (1,2,3,5,123,45,24,2,4,3)
print(t)
print(type(t))

(1, 2, 3, 5, 123, 45, 24, 2, 4, 3)
<class 'tuple'>

# Loop

In [83]:
a = ("a","b","c")
for x in a:
    print(x)

a
b
c

# Join two tuple

In [84]:
tuple1 = ("a","b","c")
tuple2 = (1,2,3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# Multiply two tuple

In [85]:
a = ("apple", "data", "python")
b = a*2
print(b)

('apple', 'data', 'python', 'apple', 'data', 'python')

In [86]:
T = (1,2,3,4,5,6,7,8)
print(T*2)
print(T+T+T)
print(T+T)
print(len(T))

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
8

# DICTIONARY
1. Dictionaries are used to store data values in key:value pairs.
2. Dictinoaries & Lists share the following characteristics:
3. Both are mutable.
4. Both are dynamic. They can grow & shrink as needed.
5. Both can be nested. A list can contain another list. A dictionary can contain another dictionary. A dictionary can also contain a list, and vice-versa.

6. Dictionaries are Ordered, Changeable and does not allow duplicates.

# Creating a dictionary

In [16]:
a = {
    "ID" : "123ab",
    "color" : "Black",
    "year" : 1964
}

print(a)
print(type(a))

print(a["color"])

{'ID': '123ab', 'color': 'Black', 'year': 1964}
<class 'dict'>
Black

# Dictionary does not allow duplicates. If values are same it will take the latest value

In [17]:
a = {
    "ID" : "123ab",
    "color" : "Black",
    "year" : 1964,
    "year" : 2000
}
print(a)

{'ID': '123ab', 'color': 'Black', 'year': 2000}

# dictionary length

In [8]:
a = {
    "ID" : "123ab",
    "color" : "Black",
    "year" : 1964
}
print(len(a))

3

In [9]:
dict = {
    "ID" : "123ab",
    "color" : "Black",
    "year" : 1964,
    'a' : [1,2,3,4,5],
    'b' : (2.2,2.3,2.4,5.2),
    'c' : False
}
print(dict)

{'ID': '123ab', 'color': 'Black', 'year': 1964, 'a': [1, 2, 3, 4, 5], 'b': (2.2, 2.3, 2.4, 5.2), 'c': False}

a = {"name" : "arpan", "age" : "23", "country" : "india"}
print(a)
print(type(a))

In [23]:
a = {"name" : "arpan", "age" : "23", "country" : "india"}
print(a["name"])

arpan

In [24]:
a = {"name" : "arpan", "age" : "23", "country" : "india"}
print(a.get("name"))

arpan

# How to call Keys in a dictionary

In [26]:
x = a.keys()
x

dict_keys(['name', 'age', 'country'])

# How to call Values in a dictionary

In [27]:
y = a.values()
y

dict_values(['arpan', '23', 'india'])

# How to Update Values in a dictionary

In [32]:
a = {
    "name" : "arpan",
    "age" : "24",
    "country": "india"
}

a["age"] = 15
print(a)

{'name': 'arpan', 'age': 15, 'country': 'india'}

# How to Add Keys in a dictionary

In [33]:
a = {
    "name" : "arpan",
    "age" : "24",
    "country": "india",
    "gender" : "male"
}

a["age"] = 15
print(a)

{'name': 'arpan', 'age': 15, 'country': 'india', 'gender': 'male'}

In [35]:
a = {
    "name" : "arpan",
    "age" : "24",
    "country": "india",
     "gender" : "male"
}

a.update({"mail id" : "arpanpanigrahi@gmail.com"})
print(a)

{'name': 'arpan', 'age': '24', 'country': 'india', 'gender': 'male', 'mail id': 'arpanpanigrahi@gmail.com'}

# How to Remove Keys in a dictionary

In [36]:
a = {
    "name" : "arpan",
    "age" : "24",
    "country": "india",
    "gender" : "male"
}

a.pop("age")
print(a)

{'name': 'arpan', 'country': 'india', 'gender': 'male'}

In [37]:
a = {
    "name" : "arpan",
    "age" : "24",
    "country": "india",
    "gender" : "male"
}

del a["age"]
print(a)

{'name': 'arpan', 'country': 'india', 'gender': 'male'}

In [38]:
a = {
    "name" : "arpan",
    "age" : "24",
    "country": "india",
    "gender" : "male"
}

del a
print(a)

NameError: name 'a' is not defined

# How to get Empty dictionary

In [40]:
a = {
    "name" : "arpan",
    "age" : "24",
    "country": "india",
    "gender" : "male"
}

a.clear()
print(a)
print(type(a))

{}
<class 'dict'>

# How to store one dictionary into another

In [43]:
dict1 = {1:10, 2:20}
dict2 = {3:30, 4:40}
dict3 = {4:50, 6:60}
dict4 = {}
for d in (dict1, dict2, dict3) : dict4.update(d)
print(dict4)

{1: 10, 2: 20, 3: 30, 4: 50, 6: 60}

# SETS
1. Sets are used to store multiple items in a single variable.
2. A set is a collection which is unordered, unchangeable and unindexed.
3. Does not allow duplicates.

# Creating a Set

In [44]:
a = {"animals", "ball", "cat"}
print(a)
print(type(a))

{'cat', 'ball', 'animals'}
<class 'set'>

# Set items are unordered

In [45]:
a = {"animals", "ball", "cat"}
print(a[0])
# does not support indexing.

TypeError: 'set' object is not subscriptable

# Duplicates not allowed

In [46]:
a = {"animals", "ball", "cat", "animals", "ball", "ball"}
print(a)

{'cat', 'ball', 'animals'}

# True and 1 are considered the same value

In [47]:
a = {"animals", "ball", "cat", "animals", "ball", "ball", 1,2,3, True}
print(a)

{'cat', 1, 2, 3, 'ball', 'animals'}

# Get the length of a set

In [48]:
a = {"animals", "ball", "cat", "animals", "ball", "ball",1,2,3, True}
print(a)
print(len(a))

{'cat', 1, 2, 3, 'ball', 'animals'}
6

# Set Items - Data Types

In [51]:
x1 = {1,2,3,4}
x2 = {1.2,2.3,3.1,4.4}
x3 = {"a","b","c"}
x4 = {True, False, True}
print(x1,x2,x3,x4)

{1, 2, 3, 4} {1.2, 2.3, 3.1, 4.4} {'b', 'a', 'c'} {False, True}

In [53]:
m = {1,2,-5,2.1,2.3,6+3j,"apple",True}
print(m)

{1, 2, 2.1, 2.3, 'apple', -5, (6+3j)}

# We cannot put a list inside a set

In [54]:
x5 = {[1,2,3,4]}
print(x5)

TypeError: unhashable type: 'list'

# We can put a tuple inside a set

In [55]:
x5 = {(1,2,3,4)}
print(x5)

{(1, 2, 3, 4)}

# We cannot put a dictionary inside a set

In [56]:
x6 = {{"a":1, "b":2}}
print(a)

TypeError: unhashable type: 'dict'

# Nested is not possible in Set. It is possible in List, Tuple & Dictionary

In [57]:
a = {{1,2,3},{4,5,6}}
print(a)

TypeError: unhashable type: 'set'

# Set() Constructor

In [58]:
thisset = set(("alpha", "beta", "gamma"))
print(thisset)
print(type(thisset))

{'alpha', 'gamma', 'beta'}
<class 'set'>

# Creating Empty Set

In [59]:
a = {}
print(a)
print(type(a))

{}
<class 'dict'>

In [60]:
empty = set()
print(empty)
print(type(empty))

set()
<class 'set'>

# Access Items

In [62]:
a = {"a", "b", "c", "d"}

for x in a:
        print(x)

b
a
d
c

# Check if "item" is present in the set

In [65]:
a = {"python", "sql", "excel"}

print("sql" in a)

True

In [66]:
a = {"python", "sql", "excel"}

print("powerbi" in a)

False

# Add Single item

In [67]:
a = {"a", "b", "c", "d"}
a.add(100)
print(a)

{100, 'a', 'c', 'b', 'd'}

# Add Multiple Items

In [68]:
x = {"python", "sql", "excel"}
y = {10,20,30,40,50,60,70}

x.update(y)
print(x)

{'python', 70, 40, 'excel', 10, 50, 20, 'sql', 60, 30}

# Remove set items

In [69]:
n = {'python', 70, 40, 'excel', 10, 50, 20, 'sql', 60, 30}
n.remove(40)
print(n)

{'python', 70, 'excel', 10, 50, 20, 'sql', 60, 30}

In [70]:
n = {'python', 70, 40, 'excel', 10, 50, 20, 'sql', 60, 30}
n.remove('python')
print(n)

{70, 40, 'excel', 10, 50, 20, 'sql', 60, 30}

# To Remove Item Randomly

In [73]:
n = {'python', 70, 40, 'excel', 10, 50, 20, 'sql', 60, 30}
x = n.pop()
print(n)

{70, 40, 'excel', 10, 50, 20, 'sql', 60, 30}

In [74]:
m = {'python', 70, 40, 'excel', 10, 50, 20, 'sql', 60, 30}
m.clear()
print(m)

set()

In [76]:
m = {'python', 70, 40, 'excel', 10, 50, 20, 'sql', 60, 30}
del m
print(m)
# delete will delete the full set from the memory

NameError: name 'm' is not defined

# Join Two Sets

In [77]:
x = {"a", "b", "c"}
y = {1,2,3}
z = x.union(y)
print(z)

{1, 2, 'b', 'a', 3, 'c'}

# Return a new set of identical items from two sets

In [78]:
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}

print(set1.intersection(set2))

{40, 50, 30}