# DAY 1: VARIABLES AND OPERATORS

# Variables
1. Python Variable is containers that store values.
2. Python is not "statically typed".
3. We do not need to declare variables before using them or declare their datatype.
4. A variable is created the moment we first assign a value to it. 
5. A Python variable is a name given to a memory location. 
6. It is the basic unit of storage in a program.

# Rules for Python Variables
1. A variable name must start with a letter or the underscore character.
2. A variable name cannot start with a number.
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _).
4. Variables name are case sensitive (age, Age and AGE are three different variables).
5. A variable name cannot be any of the Python Keywords.

# Creating Variables
1. Python has no command for declaring a variable.
2. A variable is created the moment you first assign a value to it.
3. Example:
   x = 5
   y = "John"
   print(x)
   print(y)

In [1]:
a = 1
print(a)

1

In [2]:
b = 2
c = 2.3
print(b,c)

2 2.3

In [4]:
x = "apple"
print(x)

apple

In [5]:
student = 23
print(student)

23

In [6]:
1@& = 2
print(1@&)

SyntaxError: invalid syntax (1551044377.py, line 1)

In [7]:
student123 = 25
print(student123)

25

In [8]:
_a = 5
print(_a)

5

# Many values to multiple variables
Python allows you to assign values to multiple variables in one line.

In [9]:
x,y,z = "orange", "banana", "cherry"
print(x,y,z)

orange banana cherry

In [11]:
x = y = z = "orange"
print(x)
print(y)
print(z)

orange
orange
orange

# Python Output variables

In [12]:
x = "python"
y = "is"
z = "amazing"
print(x,y,z)

print()

print(x)
print(y)
print(z)

python is amazing

python
is
amazing

# Data Types
1. Variables can store data of different types, and of the different types.
2. Python has the following data types built-in by default, in these categories:

Text Type     : str
Numeric Type  : int, float, complex
Sequence Type : list, tuple, range
Mapping Type  : dict
Set Type      : set, frozenset
Boolean Type  : bool
Binary Type   : bytes, bytearray, memoryview

In [13]:
x = 2
print(type(x))

<class 'int'>

In [15]:
x = 23.8989898989
print(x)
print(type(x))

23.8989898989
<class 'float'>

In [16]:
z = 2+5j
print(z)
print(type(z))

(2+5j)
<class 'complex'>

In [17]:
a = "hello i am under the water"
print(a)
print(type(a))

hello i am under the water
<class 'str'>

In [18]:
b = [1,2,3,4,5,6,7,8,9,10]
print(b)
print(type(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [19]:
c = (1,2,3,4,5,6,7,8,9,10)
print(c)
print(type(c))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

# To know DataType of a variable

In [20]:
%whos

Variable     Type       Data/Info
---------------------------------
a            str        hello i am under the water
b            list       n=10
c            tuple      n=10
student      int        23
student123   int        25
x            float      23.8989898989
y            str        is
z            complex    (2+5j)

# Operators
1. Operators in general are used to perform operations on values and variables.
2. These are atandard symbols used for the purpose of logical and arithmetic operations.

OPERATORS : These are the special symbols. Ex: +,-,*,/, etc.
OPERAND   : It is the value on which the operator is applied.

# Types of Operators in Python
1. Arithmetic Operators
2. Comparision Operators
3. Logical Operators
4. Bitwise Operators
5. Assignment Operators
6. Identity Operators
7. Membership Operators

# Addition

In [21]:
a = 5+2j
b=4
print(a+b)

(9+2j)

In [23]:
a = "hello"
b = "students"
print(a + " " + b)

hello students

# Subtraction

In [24]:
a = 15
b = 6
print(a-b)

9

In [25]:
a = 5.8965
b = 7.2578
print(a-b)

-1.3613

In [26]:
a = 5+6j
b = 3
print(a-b)

(2+6j)

In [27]:
a = "hello"
b = "students"
print(a-b)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

# Multiplication

In [29]:
a = 15
b = 56
print(a*b)

840

In [30]:
a = 5.689
b = 82.569
print(a*b)

469.735041

# Division

In [31]:
a = 10
b = 5
print(a/b)

2.0

# Modulous (Remainder)

In [32]:
a = 19
b = 3
print(a%b)

1

In [33]:
a = 12
b = 4
print(a%b)

0

# Quotient

In [3]:
a = 12
b = 4
print(a//b)

3

# Exponent (Power)

In [34]:
a = 41256789
b = 55
print(a**b)

71162028433520217717099884851404495326786614148274137562533191244754226421072922193229393035406290047490322006127486170528820460414671897074184746917638236810663780872933871199771053029074871072046645088603300420278272474373361352870797685329285463690039885441075398107839063255747535400015566353549647882767414182717586010912021318113386679928289227315380064286145450539958069165193638416244911434618495833200180049949

In [35]:
a = (859*78)+(78.256/89)+(856**67)+(145698-7526)
print(a)

2.990489165920469e+196

In [37]:
a = True
b = False
print(a and b)
print(a & b)

False
False

In [38]:
a = True
b = True
print(a or b)
print(a | b)

True
True

In [40]:
a = ((8922*2852)+(7821*222)-(25566*256)+(8281/87))
print(a)
print(type(a))

20637005.183908045
<class 'float'>

# DAY 2:BUILT-IN FUNCTIONS

# len() function

In [43]:
a = [12, -8, 5, -7, 2.3, 2, 5, 3.6, "students", "hello", True, False]
print(len(a))

12

# reverse() function

In [49]:
this_list = [12,15,26,78,14,25,96,142,52,22,6,5]
print(this_list[::-1])

[5, 6, 22, 52, 142, 96, 25, 14, 78, 26, 15, 12]

# abs() function

In [2]:
x = abs(-7.25)
print(x)

7.25

In [3]:
y = abs(-8)
print(y)

8

In [4]:
z = abs(3+5j)
print(z)

5.830951894845301

# bin() function

In [5]:
x = bin(13)
print(x)

0b1101

In [6]:
y = bin(36)
print(y)

0b100100

In [7]:
z = bin(56)
print(z)

0b111000

# python bytes() function

In [8]:
x = bytes(4)
print(x)

b'\x00\x00\x00\x00'

In [9]:
x = bytes(16)
print(x)

b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

# python chr() function

In [10]:
x = chr(97)
print(x)

a

In [11]:
y = chr(98)
print(y)

b

In [12]:
z = chr(99)
print(z)

c

In [13]:
y = chr(94)
print(y)

^

In [14]:
y = chr(95)
print(y)

_

# complex() function

# x = complex(real, imaginary)

In [15]:
x = complex(3,5)
print(x)

(3+5j)

In [16]:
y = complex(2.5,3.96)
print(y)

(2.5+3.96j)

In [17]:
z = complex('2')
print(z)

(2+0j)

# float() function

In [18]:
x = float(3)
print(x)

3.0

In [19]:
x = float(3.56)

In [20]:
print(x)

3.56

# int() function

In [21]:
x = int(12)
print(x)

12

In [22]:
x = int(12.56)
print(x)

12

In [23]:
y = int(12+3j)
print(y)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [24]:
z = int(846.572)
print(z)

846

# str() function

In [25]:
a = str("2568")
print(a)
print(type(a))

2568
<class 'str'>

In [26]:
b = str(25.63)
print(b)
print(type(b))

25.63
<class 'str'>

# To know what is the use of function

# help() function

In [27]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [28]:
help(float)

Help on class float in module builtins:

class float(object)
 |  float(x=0, /)
 |
 |  Convert a string or number to a floating point number, if possible.
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(self, /)
 |      Return the ceiling as an Integral.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(self, /)
 |      Return the floor as an Integral.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Formats the float according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __round__(self, ndigits=None, /)
 |      Return the Integral closest to x, rounding half toward even.
 |
 |      When an argument is passed, work like built-in round(x, ndigits).
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(self, /)
 |      Return the Integral closest to x between 0 and x.
 |
 |  as_integer_ratio(self, /)
 |      Return integer ratio.
 |
 |      Return a pair of integers, whose ratio is exactly equal to the original float
 |      and with a positive denominator.
 |
 |      Raise OverflowError on infinities and a ValueError on NaNs.
 |
 |      >>> (10.0).as_integer_ratio()
 |      (10, 1)
 |      >>> (0.0).as_integer_ratio()
 |      (0, 1)
 |      >>> (-.25).as_integer_ratio()
 |      (-1, 4)
 |
 |  conjugate(self, /)
 |      Return self, the complex conjugate of any float.
 |
 |  hex(self, /)
 |      Return a hexadecimal representation of a floating-point number.
 |
 |      >>> (-0.1).hex()
 |      '-0x1.999999999999ap-4'
 |      >>> 3.14159.hex()
 |      '0x1.921f9f01b866ep+1'
 |
 |  is_integer(self, /)
 |      Return True if the float is an integer.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __getformat__(typestr, /) from builtins.type
 |      You probably don't want to use this function.
 |
 |        typestr
 |          Must be 'double' or 'float'.
 |
 |      It exists mainly to be used in Python's test suite.
 |
 |      This function returns whichever of 'unknown', 'IEEE, big-endian' or 'IEEE,
 |      little-endian' best describes the format of floating point numbers used by the
 |      C type named by typestr.
 |
 |  fromhex(string, /) from builtins.type
 |      Create a floating-point number from a hexadecimal string.
 |
 |      >>> float.fromhex('0x1.ffffp10')
 |      2047.984375
 |      >>> float.fromhex('-0x1p-1074')
 |      -5e-324
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  real
 |      the real part of a complex number

# input() function

In [33]:
x = input("enter your name")
print("hello", x)

enter your name arpan

hello arpan

In [32]:
y = input("enter your age")
print("your age is: ", y)

enter your age 23

your age is:  23

In [34]:
x = input("enter your name")
print("hello", x)
y = input("enter your age")
print("your age is: ", y)

enter your name arpan panigrahi

hello arpan panigrahi

enter your age 23

your age is:  23

# DAY 2: LIST 
1. Lists are used to store multiple items in a single variable.
2. Lists are one of 4 built-in data type in Python  used to store collections of data, the other 3 are Tuple, Set, and Dictionary.
3. Lists need not be homogeneous always which makes it the most powerful tool in Python.
4. A single list may contain DataTypes like Integers, Strings, as well as Objects.
5. Lists are Mutable, and hence, they can be altered even after their creation.
6. Lists items are Ordered, Changeable and allow Duplicate values.

# Creating a list

In [35]:
mylist = ["apple", "banana", "cherry"]
print(mylist)
print(type(mylist))

['apple', 'banana', 'cherry']
<class 'list'>

# Allow Duplicates

In [36]:
mylist = ["apple", "banana", "apple", "cherry", "banana", "apple"]
print(mylist)

['apple', 'banana', 'apple', 'cherry', 'banana', 'apple']

# data types

In [37]:
list1 = ["apple", "banana", "cherry"]
list2 = [2,5,8]
list3 = [7.8, 8.9, 2.5]
list4 = [True, False, True]
print(list1)
print(list2)
print(list3)
print(list4)

['apple', 'banana', 'cherry']
[2, 5, 8]
[7.8, 8.9, 2.5]
[True, False, True]

In [39]:
a = [12, -8, 5, -7, 2.3, 2, 5, 3.6, "students", "hello", True, False]
print(a)

[12, -8, 5, -7, 2.3, 2, 5, 3.6, 'students', 'hello', True, False]

# List Length

In [40]:
a = [12, -8, 5, -7, 2.3, 2, 5, 3.6, "students", "hello", True, False]
print(len(a))

12

In [42]:
b = (15, 8, 9, 3, 4, 6, 7, 8, 9, 25)
print(len(b))

10

# Access Items (Indexing)
1. start its first address location as 0 to so on.
2. last element means -1.

In [44]:
this_list = [12,15,26,78,14,25,96,142,52,22,6,5]
print(this_list[5])

25

In [45]:
this_list = [12,15,26,78,14,25,96,142,52,22,6,5]
print(this_list[0])

12

In [46]:
this_list = [12,15,26,78,14,25,96,142,52,22,6,5]
print(this_list[-1])

5

In [47]:
this_list = [12,15,26,78,14,25,96,142,52,22,6,5]
print(this_list[-2])

6

# Slicing of list
[start, end-1]

In [50]:
this_list = [12,15,26,78,14,25,96,142,52,22,6,5]
print(this_list[0:6])

[12, 15, 26, 78, 14, 25]

In [51]:
this_list = [12,15,26,78,14,25,96,142,52,22,6,5]
print(this_list[3:9])

[78, 14, 25, 96, 142, 52]

In [53]:
this_list = [12,15,26,78,14,25,96,142,52,22,6,5]
print(this_list[0:12:2])
# [start, end, skip_jump]

[12, 26, 14, 96, 52, 6]

# Change items

In [55]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "strawberry"
print(thislist)

['apple', 'strawberry', 'cherry']

In [56]:
a = [12, 14, 15, 16, 8, 9, -5, -3, 41, -9]
a[2] = "students"
print(a)

[12, 14, 'students', 16, 8, 9, -5, -3, 41, -9]

# Change a range of item values

In [57]:
a = [12, 14, 15, 16, 8, 9, -5, -3, 41, -9]
a[2:4] = ["books", "pen", "paper"]
print(a)

[12, 14, 'books', 'pen', 'paper', 8, 9, -5, -3, 41, -9]

# How to add element in a list

In [58]:
a = [12, 14, 15, 78, 96, 25]
a.append(-9)
print(a)

[12, 14, 15, 78, 96, 25, -9]

# How to remove an particular element in a list

In [59]:
m = ["paper", "pen", "hello", "arpan"]
m.remove("pen")
print(m)

['paper', 'hello', 'arpan']

# How to reverse a list

In [60]:
my_list = [1,2,3,4,5,"python","sql","excel"]
my_list.reverse()
print(my_list)

['excel', 'sql', 'python', 5, 4, 3, 2, 1]

In [62]:
my_list = [1,2,3,4,5,"python","sql","excel"]
print(my_list[::-1])

['excel', 'sql', 'python', 5, 4, 3, 2, 1]

# TUPLES
1. Tuples are used to store multiple items in a single variable.
2. Difference btw List & Tuple is that we cannot change the elements of a tuple once it is assigned whereas we can change the element in a list.
3. Tuples are Ordered, Unchangeable and allow duplicate values.

# Creating a Tuple

In [65]:
my_tuple = (1,2,3)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3)
<class 'tuple'>

# Mixed datatypes

In [66]:
x = (1, "hello", 3.45, 4+5j)
print(x)
print(type(x))

(1, 'hello', 3.45, (4+5j))
<class 'tuple'>

# Empty tuple

In [67]:
a = ()
print(a)
print(type(a))

()
<class 'tuple'>

# Nested tuple

In [68]:
a = ("data", [1,2,3], (4,5,6))
print(a)
print(type(a))

('data', [1, 2, 3], (4, 5, 6))
<class 'tuple'>

# Creating a tuple with only one item

In [69]:
var1 = ("hello")
print(var1)
print(type(var1))

hello
<class 'str'>

In [70]:
var2 = ("hello",)
print(var2)
print(type(var2))

('hello',)
<class 'tuple'>

# Tuple Constructor

In [71]:
a = tuple(("a","b","c"))
print(a)
print(type(a))

('a', 'b', 'c')
<class 'tuple'>

# Indexing

In [72]:
a = (47,48,45,46,48,4,8)
print(a[5])

4

In [73]:
a = (47,48,45,46,48,4,8)
print(a[-5])

45

# Slicing

In [74]:
a = (14,15,17,821,5,852,8,29,2,8,2,4)
print(a[0:6])

(14, 15, 17, 821, 5, 852)

In [75]:
a = (14,15,17,821,5,852,8,29,2,8,2,4)
print(a[:6])

(14, 15, 17, 821, 5, 852)

In [76]:
a = (14,15,17,821,5,852,8,29,2,8,2,4)
print(a[:])

(14, 15, 17, 821, 5, 852, 8, 29, 2, 8, 2, 4)

In [78]:
a = (14,15,17,821,5,852,8,29,2,8,2,4)
print(a[::2])
# gap of 1 element

(14, 17, 5, 8, 2, 2)

# Reverse

In [79]:
a = (14,15,17,821,5,852,8,29,2,8,2,4)
print(a[::-1])

(4, 2, 8, 2, 29, 8, 852, 5, 821, 17, 15, 14)

In [81]:
T = (1,2,3,4,5,6,7,8)
print(T[::])
print(T[3:])
print(T[:4])
print(T[-2:-5])

(1, 2, 3, 4, 5, 6, 7, 8)
(4, 5, 6, 7, 8)
(1, 2, 3, 4)
()

In [82]:
t = (1,2,3,5,123,45,24,2,4,3)
print(t)
print(type(t))

(1, 2, 3, 5, 123, 45, 24, 2, 4, 3)
<class 'tuple'>

# Loop

In [83]:
a = ("a","b","c")
for x in a:
    print(x)

a
b
c

# Join two tuple

In [84]:
tuple1 = ("a","b","c")
tuple2 = (1,2,3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# Multiply two tuple

In [85]:
a = ("apple", "data", "python")
b = a*2
print(b)

('apple', 'data', 'python', 'apple', 'data', 'python')

In [86]:
T = (1,2,3,4,5,6,7,8)
print(T*2)
print(T+T+T)
print(T+T)
print(len(T))

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
8

# DICTIONARY
1. Dictionaries are used to store data values in key:value pairs.
2. Dictinoaries & Lists share the following characteristics:
3. Both are mutable.
4. Both are dynamic. They can grow & shrink as needed.
5. Both can be nested. A list can contain another list. A dictionary can contain another dictionary. A dictionary can also contain a list, and vice-versa.

6. Dictionaries are Ordered, Changeable and does not allow duplicates.

# Creating a dictionary

In [16]:
a = {
    "ID" : "123ab",
    "color" : "Black",
    "year" : 1964
}

print(a)
print(type(a))

print(a["color"])

{'ID': '123ab', 'color': 'Black', 'year': 1964}
<class 'dict'>
Black

# Dictionary does not allow duplicates. If values are same it will take the latest value

In [17]:
a = {
    "ID" : "123ab",
    "color" : "Black",
    "year" : 1964,
    "year" : 2000
}
print(a)

{'ID': '123ab', 'color': 'Black', 'year': 2000}

# dictionary length

In [8]:
a = {
    "ID" : "123ab",
    "color" : "Black",
    "year" : 1964
}
print(len(a))

3

In [9]:
dict = {
    "ID" : "123ab",
    "color" : "Black",
    "year" : 1964,
    'a' : [1,2,3,4,5],
    'b' : (2.2,2.3,2.4,5.2),
    'c' : False
}
print(dict)

{'ID': '123ab', 'color': 'Black', 'year': 1964, 'a': [1, 2, 3, 4, 5], 'b': (2.2, 2.3, 2.4, 5.2), 'c': False}

a = {"name" : "arpan", "age" : "23", "country" : "india"}
print(a)
print(type(a))

In [23]:
a = {"name" : "arpan", "age" : "23", "country" : "india"}
print(a["name"])

arpan

In [24]:
a = {"name" : "arpan", "age" : "23", "country" : "india"}
print(a.get("name"))

arpan

# How to call Keys in a dictionary

In [26]:
x = a.keys()
x

dict_keys(['name', 'age', 'country'])

# How to call Values in a dictionary

In [27]:
y = a.values()
y

dict_values(['arpan', '23', 'india'])

# How to Update Values in a dictionary

In [32]:
a = {
    "name" : "arpan",
    "age" : "24",
    "country": "india"
}

a["age"] = 15
print(a)

{'name': 'arpan', 'age': 15, 'country': 'india'}

# How to Add Keys in a dictionary

In [33]:
a = {
    "name" : "arpan",
    "age" : "24",
    "country": "india",
    "gender" : "male"
}

a["age"] = 15
print(a)

{'name': 'arpan', 'age': 15, 'country': 'india', 'gender': 'male'}

In [35]:
a = {
    "name" : "arpan",
    "age" : "24",
    "country": "india",
     "gender" : "male"
}

a.update({"mail id" : "arpanpanigrahi@gmail.com"})
print(a)

{'name': 'arpan', 'age': '24', 'country': 'india', 'gender': 'male', 'mail id': 'arpanpanigrahi@gmail.com'}

# How to Remove Keys in a dictionary

In [36]:
a = {
    "name" : "arpan",
    "age" : "24",
    "country": "india",
    "gender" : "male"
}

a.pop("age")
print(a)

{'name': 'arpan', 'country': 'india', 'gender': 'male'}

In [37]:
a = {
    "name" : "arpan",
    "age" : "24",
    "country": "india",
    "gender" : "male"
}

del a["age"]
print(a)

{'name': 'arpan', 'country': 'india', 'gender': 'male'}

In [38]:
a = {
    "name" : "arpan",
    "age" : "24",
    "country": "india",
    "gender" : "male"
}

del a
print(a)

NameError: name 'a' is not defined

# How to get Empty dictionary

In [40]:
a = {
    "name" : "arpan",
    "age" : "24",
    "country": "india",
    "gender" : "male"
}

a.clear()
print(a)
print(type(a))

{}
<class 'dict'>

# How to store one dictionary into another

In [43]:
dict1 = {1:10, 2:20}
dict2 = {3:30, 4:40}
dict3 = {4:50, 6:60}
dict4 = {}
for d in (dict1, dict2, dict3) : dict4.update(d)
print(dict4)

{1: 10, 2: 20, 3: 30, 4: 50, 6: 60}

# SETS
1. Sets are used to store multiple items in a single variable.
2. A set is a collection which is unordered, unchangeable and unindexed.
3. Does not allow duplicates.

# Creating a Set

In [44]:
a = {"animals", "ball", "cat"}
print(a)
print(type(a))

{'cat', 'ball', 'animals'}
<class 'set'>

# Set items are unordered

In [45]:
a = {"animals", "ball", "cat"}
print(a[0])
# does not support indexing.

TypeError: 'set' object is not subscriptable

# Duplicates not allowed

In [46]:
a = {"animals", "ball", "cat", "animals", "ball", "ball"}
print(a)

{'cat', 'ball', 'animals'}

# True and 1 are considered the same value

In [47]:
a = {"animals", "ball", "cat", "animals", "ball", "ball", 1,2,3, True}
print(a)

{'cat', 1, 2, 3, 'ball', 'animals'}

# Get the length of a set

In [48]:
a = {"animals", "ball", "cat", "animals", "ball", "ball",1,2,3, True}
print(a)
print(len(a))

{'cat', 1, 2, 3, 'ball', 'animals'}
6

# Set Items - Data Types

In [51]:
x1 = {1,2,3,4}
x2 = {1.2,2.3,3.1,4.4}
x3 = {"a","b","c"}
x4 = {True, False, True}
print(x1,x2,x3,x4)

{1, 2, 3, 4} {1.2, 2.3, 3.1, 4.4} {'b', 'a', 'c'} {False, True}

In [53]:
m = {1,2,-5,2.1,2.3,6+3j,"apple",True}
print(m)

{1, 2, 2.1, 2.3, 'apple', -5, (6+3j)}

# We cannot put a list inside a set

In [54]:
x5 = {[1,2,3,4]}
print(x5)

TypeError: unhashable type: 'list'

# We can put a tuple inside a set

In [55]:
x5 = {(1,2,3,4)}
print(x5)

{(1, 2, 3, 4)}

# We cannot put a dictionary inside a set

In [56]:
x6 = {{"a":1, "b":2}}
print(a)

TypeError: unhashable type: 'dict'

# Nested is not possible in Set. It is possible in List, Tuple & Dictionary

In [57]:
a = {{1,2,3},{4,5,6}}
print(a)

TypeError: unhashable type: 'set'

# Set() Constructor

In [58]:
thisset = set(("alpha", "beta", "gamma"))
print(thisset)
print(type(thisset))

{'alpha', 'gamma', 'beta'}
<class 'set'>

# Creating Empty Set

In [59]:
a = {}
print(a)
print(type(a))

{}
<class 'dict'>

In [60]:
empty = set()
print(empty)
print(type(empty))

set()
<class 'set'>

# Access Items

In [62]:
a = {"a", "b", "c", "d"}

for x in a:
        print(x)

b
a
d
c

# Check if "item" is present in the set

In [65]:
a = {"python", "sql", "excel"}

print("sql" in a)

True

In [66]:
a = {"python", "sql", "excel"}

print("powerbi" in a)

False

# Add Single item

In [67]:
a = {"a", "b", "c", "d"}
a.add(100)
print(a)

{100, 'a', 'c', 'b', 'd'}

# Add Multiple Items

In [68]:
x = {"python", "sql", "excel"}
y = {10,20,30,40,50,60,70}

x.update(y)
print(x)

{'python', 70, 40, 'excel', 10, 50, 20, 'sql', 60, 30}

# Remove set items

In [69]:
n = {'python', 70, 40, 'excel', 10, 50, 20, 'sql', 60, 30}
n.remove(40)
print(n)

{'python', 70, 'excel', 10, 50, 20, 'sql', 60, 30}

In [70]:
n = {'python', 70, 40, 'excel', 10, 50, 20, 'sql', 60, 30}
n.remove('python')
print(n)

{70, 40, 'excel', 10, 50, 20, 'sql', 60, 30}

# To Remove Item Randomly

In [73]:
n = {'python', 70, 40, 'excel', 10, 50, 20, 'sql', 60, 30}
x = n.pop()
print(n)

{70, 40, 'excel', 10, 50, 20, 'sql', 60, 30}

In [74]:
m = {'python', 70, 40, 'excel', 10, 50, 20, 'sql', 60, 30}
m.clear()
print(m)

set()

In [76]:
m = {'python', 70, 40, 'excel', 10, 50, 20, 'sql', 60, 30}
del m
print(m)
# delete will delete the full set from the memory

NameError: name 'm' is not defined

# Join Two Sets

In [77]:
x = {"a", "b", "c"}
y = {1,2,3}
z = x.union(y)
print(z)

{1, 2, 'b', 'a', 3, 'c'}

# Return a new set of identical items from two sets

In [78]:
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}

print(set1.intersection(set2))

{40, 50, 30}

# Data Upload using excel and csv

In [1]:
import pandas as pd

In [5]:
#arpan_tbl = pd.read_excel(r"C:\Users\ARPAN PANIGRAHI\Downloads\DATA ANALYST-EXCEL\Sample - Superstore.xslx",sheet_name="Orders")
arpan_tbl = pd.read_csv(r"C:\Users\ARPAN PANIGRAHI\Downloads\DATA ANALYST-EXCEL\Vrinda Store Data Analysis-Datasets.csv")

# To print Table

In [6]:
print(arpan_tbl)

       index             Order ID  Cust ID Gender  Age        Date     Status  \
0          1  171-1029312-3038738  1029312  Women   44  04-12-2022  Delivered
1          2  405-2183842-2225946  2183842  Women   29  04-12-2022  Delivered
2          3  171-1641533-8921966  1641533  Women   67  04-12-2022  Delivered
3          4  404-7490807-6300351  7490807  Women   20  04-12-2022  Delivered
4          5  403-9293516-4577154  9293516  Women   62  04-12-2022  Delivered
...      ...                  ...      ...    ...  ...         ...        ...
31042  31043  405-4724097-1016369  4724097      M   60  06-01-2022  Delivered
31043  31044  405-4724097-1016369  4724097      M   34  06-01-2022  Delivered
31044  31045  408-3572295-5992330  3572295      M   29  06-01-2022  Delivered
31045  31046  405-1423498-9705162  1423498      M   46  06-01-2022  Delivered
31046  31047  408-4694875-8249153  4694875      M   36  06-01-2022  Delivered

       Channel                       SKU       Category Size  Qty currency  \
0        Myntra  JNE1233-BLUE-KR-031-XXL          kurta  XXL    1      INR
1          Ajio           SET414-KR-NP-L            Set    L    1      INR
2        Myntra           SET261-KR-PP-S            Set    S    1      INR
3        Amazon           SET110-KR-PP-M            Set    M    1      INR
4        Myntra         JNE2294-KR-A-XXL          kurta  XXL    1      INR
...         ...                      ...            ...  ...  ...      ...
31042  Flipkart              J0083-KR-XL          kurta   XL  One      INR
31043    Myntra              J0010-LCD-S            Set    S  One      INR
31044    Amazon           SET398-KR-PP-L            Set    L  One      INR
31045    Amazon             JNE3568-KR-M          kurta    M  One      INR
31046  Flipkart            J0341-DR-XXXL  Western Dress  3XL  One      INR

       Amount    ship-city   ship-state  ship-postal-code ship-country    B2B
0         376       MOHALI       PUNJAB            140301           IN  False
1        1449     GURUGRAM      HARYANA            122002           IN  False
2         453      KOLKATA  WEST BENGAL            700029           IN  False
3         729    THANJAVUR   TAMIL NADU            613007           IN  False
4         544     GURUGRAM      HARYANA            122001           IN  False
...       ...          ...          ...               ...          ...    ...
31042     565         PUNE  MAHARASHTRA            412307           IN  False
31043     939    BENGALURU    KARNATAKA            560061           IN  False
31044    1115  PITHORAGARH  UTTARAKHAND            262501           IN  False
31045     399        DHULE  MAHARASHTRA            424006           IN  False
31046     791     WARANGAL    TELANGANA            506001           IN  False

[31047 rows x 19 columns]

# Top 'N' number of records

In [7]:
arpan_tbl.head(5)

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
0,1,171-1029312-3038738,1029312,Women,44,04-12-2022,Delivered,Myntra,JNE1233-BLUE-KR-031-XXL,kurta,XXL,1,INR,376,MOHALI,PUNJAB,140301,IN,False
1,2,405-2183842-2225946,2183842,Women,29,04-12-2022,Delivered,Ajio,SET414-KR-NP-L,Set,L,1,INR,1449,GURUGRAM,HARYANA,122002,IN,False
2,3,171-1641533-8921966,1641533,Women,67,04-12-2022,Delivered,Myntra,SET261-KR-PP-S,Set,S,1,INR,453,KOLKATA,WEST BENGAL,700029,IN,False
3,4,404-7490807-6300351,7490807,Women,20,04-12-2022,Delivered,Amazon,SET110-KR-PP-M,Set,M,1,INR,729,THANJAVUR,TAMIL NADU,613007,IN,False
4,5,403-9293516-4577154,9293516,Women,62,04-12-2022,Delivered,Myntra,JNE2294-KR-A-XXL,kurta,XXL,1,INR,544,GURUGRAM,HARYANA,122001,IN,False

# Bottom 'N' number of records

In [8]:
arpan_tbl.tail(5)

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
31042,31043,405-4724097-1016369,4724097,M,60,06-01-2022,Delivered,Flipkart,J0083-KR-XL,kurta,XL,One,INR,565,PUNE,MAHARASHTRA,412307,IN,False
31043,31044,405-4724097-1016369,4724097,M,34,06-01-2022,Delivered,Myntra,J0010-LCD-S,Set,S,One,INR,939,BENGALURU,KARNATAKA,560061,IN,False
31044,31045,408-3572295-5992330,3572295,M,29,06-01-2022,Delivered,Amazon,SET398-KR-PP-L,Set,L,One,INR,1115,PITHORAGARH,UTTARAKHAND,262501,IN,False
31045,31046,405-1423498-9705162,1423498,M,46,06-01-2022,Delivered,Amazon,JNE3568-KR-M,kurta,M,One,INR,399,DHULE,MAHARASHTRA,424006,IN,False
31046,31047,408-4694875-8249153,4694875,M,36,06-01-2022,Delivered,Flipkart,J0341-DR-XXXL,Western Dress,3XL,One,INR,791,WARANGAL,TELANGANA,506001,IN,False

# Specific Range of records in between

In [9]:
arpan_tbl[10:40]

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
10,11,404-2648970-9042715,2648970,W,76,04-12-2022,Delivered,Amazon,JNE3795-KR-S,kurta,S,One,INR,517,THIRUVANANTHAPURAM,KERALA,695018,IN,False
11,12,404-2648970-9042715,2648970,Women,45,04-12-2022,Delivered,Myntra,J0181-TP-M,Top,M,1,INR,399,ARAKONAM,TAMIL NADU,631003,IN,False
12,13,408-0265357-4939534,265357,Women,18,04-12-2022,Delivered,Amazon,SET217-KR-PP-XL,Set,XL,1,INR,786,GUWAHATI,ASSAM,781017,IN,False
13,14,403-9268874-7296313,9268874,Men,44,04-12-2022,Delivered,Myntra,SET185-KR-NP-M,Set,M,1,INR,911,BENGALURU,KARNATAKA,562125,IN,False
14,15,407-0442660-2736366,442660,Women,52,04-12-2022,Delivered,Amazon,SET333-KR-DPT-M,Set,M,1,INR,967,HYDERABAD,TELANGANA,500098,IN,False
15,16,406-7482261-1657136,7482261,Women,18,04-12-2022,Delivered,Nalli,J0124-TP-L,Top,L,1,INR,523,NEW DELHI,DELHI,110062,IN,False
16,17,407-7039962-7080347,7039962,Men,30,04-12-2022,Delivered,Meesho,SET304-KR-DPT-XL,Set,XL,1,INR,1115,Bhubaneswar,ODISHA,751022,IN,False
17,18,407-3422488-7373923,3422488,Women,48,04-12-2022,Delivered,Others,SET184-KR-PP-XS,Set,XS,1,INR,563,SIROHI,RAJASTHAN,307001,IN,False
18,19,171-8974687-6745940,8974687,Men,24,04-12-2022,Delivered,Myntra,J0161-DR-XXL,Western Dress,XXL,1,INR,473,MUMBAI,MAHARASHTRA,400097,IN,False
19,20,406-0244536-2177175,244536,Women,46,04-12-2022,Delivered,Amazon,SET233-KR-PP-M,Set,M,1,INR,545,AMRITSAR,PUNJAB,143001,IN,False
20,21,404-4376789-3345166,4376789,Women,43,04-12-2022,Delivered,Nalli,J0231-SKD-XXXL,Set,3XL,1,INR,1164,LUCKNOW,UTTAR PRADESH,226024,IN,False
21,22,408-1943310-9789160,1943310,Men,31,04-12-2022,Refunded,Myntra,J0339-DR-XXL,Western Dress,XXL,1,INR,743,NEW DELHI,DELHI,110087,IN,False
22,23,403-0950590-5005155,950590,Men,30,04-12-2022,Delivered,Myntra,SET210-KR-PP-XXXL,Set,3XL,1,INR,575,MADURAI,TAMIL NADU,625014,IN,False
23,24,406-3935670-5720350,3935670,Women,19,04-12-2022,Delivered,Ajio,SET110-KR-PP-XS,Set,XS,1,INR,788,Meerut,UTTAR PRADESH,250002,IN,False
24,25,402-0398999-0011565,398999,Women,37,04-12-2022,Delivered,Amazon,SET273-KR-NP-M,Set,M,1,INR,612,HYDERABAD,TELANGANA,500060,IN,False
25,26,403-5438780-7231546,5438780,Women,37,04-12-2022,Delivered,Others,MEN5025-KR-XXL,kurta,XXL,1,INR,533,INDORE,MADHYA PRADESH,452014,IN,False
26,27,406-8343960-8137102,8343960,Women,62,04-12-2022,Delivered,Flipkart,JNE3690-TU-XL,Top,XL,1,INR,484,DAVANAGERE,KARNATAKA,577004,IN,False
27,28,406-0986513-0498758,986513,Men,20,04-12-2022,Delivered,Flipkart,SET184-KR-PP-XXXL,Set,3XL,1,INR,563,RUDRAPUR,UTTARAKHAND,263153,IN,False
28,29,406-0947452-6044339,947452,Men,77,04-12-2022,Delivered,Flipkart,JNE3797-KR-XXL,Western Dress,XXL,1,INR,735,CHENNAI,TAMIL NADU,600103,IN,False
29,30,406-1326018-3426760,1326018,Men,26,04-12-2022,Delivered,Amazon,SET183-KR-DH-XS,Set,XS,1,INR,759,PRAYAGRAJ,UTTAR PRADESH,230304,IN,False
30,31,406-9281717-2212317,9281717,Men,40,04-12-2022,Delivered,Amazon,JNE3797-KR-XXL,Western Dress,XXL,1,INR,715,GREAT NICOBAR,ANDAMAN & NICOBAR,744302,IN,False
31,32,408-6866119-6793128,6866119,Men,52,04-12-2022,Delivered,Amazon,J0414-DR-XXL,Western Dress,XXL,1,INR,885,AHMEDABAD,GUJARAT,380058,IN,False
32,33,403-9400852-1350710,9400852,Women,38,04-12-2022,Delivered,Others,JNE3601-KR-M,kurta,M,1,INR,301,SALEM,TAMIL NADU,636007,IN,False
33,34,408-2606836-0473931,2606836,Men,39,04-12-2022,Delivered,Myntra,J0231-SKD-XL,Set,XL,1,INR,1238,GUWAHATI,ASSAM,781020,IN,False
34,35,405-8481179-1130753,8481179,Men,37,04-12-2022,Delivered,Amazon,SET320-KR-NP-S,Set,S,1,INR,856,CHENNAI,TAMIL NADU,600119,IN,False
35,36,406-9686095-5057139,9686095,Women,73,04-12-2022,Delivered,Flipkart,J0351-SET-L,Set,L,1,INR,650,VADODARA,GUJARAT,390021,IN,False
36,37,404-9033015-7527503,9033015,Women,41,04-12-2022,Delivered,Amazon,JNE3368-KR-XL,kurta,XL,1,INR,449,Payyannur,KERALA,670309,IN,False
37,38,402-6932218-7744338,6932218,Women,41,04-12-2022,Delivered,Myntra,SET333-KR-DPT-XS,Set,XS,1,INR,967,CHANDIGARH,CHANDIGARH,160036,IN,False
38,39,408-8796291-5026713,8796291,Women,35,04-12-2022,Delivered,Amazon,JNE3423-KR-XL,kurta,XL,1,INR,399,GURUGRAM,HARYANA,122001,IN,False
39,40,407-9654105-3225150,9654105,Women,72,04-12-2022,Delivered,Flipkart,J0230-SKD-M,Set,M,1,INR,969,MOHALI,PUNJAB,160062,IN,False

# To know count of rows and columns in a table

In [10]:
arpan_tbl.shape

(31047, 19)

# To know table information

In [11]:
arpan_tbl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31047 entries, 0 to 31046
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             31047 non-null  int64
 1   Order ID          31047 non-null  object
 2   Cust ID           31047 non-null  int64
 3   Gender            31047 non-null  object
 4   Age               31047 non-null  int64
 5   Date              31047 non-null  object
 6   Status            31047 non-null  object
 7   Channel           31047 non-null  object
 8   SKU               31047 non-null  object
 9   Category          31047 non-null  object
 10  Size              31047 non-null  object
 11  Qty               31047 non-null  object
 12  currency          31047 non-null  object
 13  Amount            31047 non-null  int64
 14  ship-city         31047 non-null  object
 15  ship-state        31047 non-null  object
 16  ship-postal-code  31047 non-null  int64
 17  ship-country      31047 non-null  object
 18  B2B               31047 non-null  bool
dtypes: bool(1), int64(5), object(13)
memory usage: 4.3+ MB

In [12]:
arpan_tbl.dtypes

index                int64
Order ID            object
Cust ID              int64
Gender              object
Age                  int64
Date                object
Status              object
Channel             object
SKU                 object
Category            object
Size                object
Qty                 object
currency            object
Amount               int64
ship-city           object
ship-state          object
ship-postal-code     int64
ship-country        object
B2B                   bool
dtype: object

In [13]:
arpan_tbl.describe()

             index       Cust ID           Age        Amount  ship-postal-code
count  31047.00000  3.104700e+04  31047.000000  31047.000000      31047.000000
mean   15524.00000  4.936824e+06     39.496570    682.074822     460474.587206
std     8962.64124  2.900678e+06     15.117233    268.582173     198116.733009
min        1.00000  8.950000e+02     18.000000    229.000000     110001.000000
25%     7762.50000  2.416471e+06     28.000000    486.000000     313001.000000
50%    15524.00000  4.909885e+06     37.000000    646.000000     500028.000000
75%    23285.50000  7.454182e+06     47.000000    794.000000     600040.000000
max    31047.00000  9.999233e+06     78.000000   3036.000000     855117.000000

In [14]:
arpan_tbl.isnull()

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31042,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
31043,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
31044,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
31045,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
31046,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [15]:
arpan_tbl.sum()

index                                                       481973628
Order ID            171-1029312-3038738405-2183842-2225946171-1641...
Cust ID                                                  153273569384
Gender              WomenWomenWomenWomenWomenMenWWWWWWomenWomenMen...
Age                                                           1226250
Date                04-12-202204-12-202204-12-202204-12-202204-12-...
Status              DeliveredDeliveredDeliveredDeliveredDeliveredD...
Channel             MyntraAjioMyntraAmazonMyntraFlipkartMeeshoOthe...
SKU                 JNE1233-BLUE-KR-031-XXLSET414-KR-NP-LSET261-KR...
Category            kurtaSetSetSetkurtaWestern Dresskurtakurtakurt...
Size                XXLLSMXXLXXLXXLMXLLSMXLMMLXLXSXXLM3XLXXL3XLXSM...
Qty                 11111OneOneOneOneOneOne11111111111111111111111...
currency            INRINRINRINRINRINRINRINRINRINRINRINRINRINRINRI...
Amount                                                       21176377
ship-city           MOHALIGURUGRAMKOLKATATHANJAVURGURUGRAMSANGLI M...
ship-state          PUNJABHARYANAWEST BENGALTAMIL NADUHARYANAMAHAR...
ship-postal-code                                          14296354509
ship-country        INININININININININININININININININININININININ...
B2B                                                               186
dtype: object

In [16]:
arpan_tbl.isnull().sum()

index               0
Order ID            0
Cust ID             0
Gender              0
Age                 0
Date                0
Status              0
Channel             0
SKU                 0
Category            0
Size                0
Qty                 0
currency            0
Amount              0
ship-city           0
ship-state          0
ship-postal-code    0
ship-country        0
B2B                 0
dtype: int64

In [17]:
arpan_tbl.isnull().sum().sum()

0