In [4]:
num=32

if num%2 != 0:
    print("The number is odd")
else:
    print("the number is even")

the number is even

In [5]:
def even_odd(num):
    if num%2== 0:
        print("The number is even")
    else:
        print("the number is odd")

In [6]:
even_odd(56)

The number is even

In [7]:
even_odd(45)

the number is odd

In [26]:
 # difference between print & return
def hellow_world():
    print("my name is satyam")

In [27]:
hellow_world()

my name is satyam

In [28]:
x=hellow_world()

my name is satyam

In [30]:
x

In [32]:
def hellow_world():
    return "my name is satyam"

In [33]:
x=hellow_world()

In [34]:
x

'my name is satyam'

In [36]:
def add_num(num1,num2):
    return num1+num2

In [37]:
add_num(10,20)

30

In [40]:
x=add_num(40,30)
x

70

In [44]:
def add_num(num1,num2):
    print(num1+num2)

In [45]:
add_num(10,20)

30

In [48]:
x=add_num(10,20)

30

In [49]:
x

In [86]:
######
def abc(name,age=29):
    print("my name is {} and my age is {}".format(name,age))

In [87]:
abc('satyam')

my name is satyam and my age is 29

In [88]:
def hellow(*args,**kwargs):
    print(args)
    print(kwargs)

In [89]:
hellow("akash","bhuyan",age=29,dob=1990)

('akash', 'bhuyan')
{'age': 29, 'dob': 1990}

In [92]:
lst=["akash","bhuyan"]
dict_arg={'age':29,'dob':1990}

In [94]:
hellow(*lst,**dict_arg)

('akash', 'bhuyan')
{'age': 29, 'dob': 1990}

In [112]:
# lst1=[1,2,3,4,5,6,7]
lst2=[1,3,8,5,6,7,10]

def even_odd_sum(abc):
    even_sum=0
    odd_sum=0

    for n in lst2:
        if n%2==0:
            even_sum=even_sum+n
        else:
            odd_sum=odd_sum+n
    return(even_sum,odd_sum)

In [113]:
even_odd_sum(lst2)

(24, 16)

In [114]:
even_sum=0+8+6+10
odd_sum=0+1+3+5+7

In [116]:
odd_sum

16

In [ ]:
abc=df['age'].tolist()
def abc(n):
    for i in abc:
        if i is null:
            return 20 
        else:
            return i

In [ ]:
# def replace_age_less_than_20(df, column_name):
    df[column_name] = df[column_name].apply(lambda x: 20 if x < 20 else x)
#     return df

In [ ]:
def age_less_20(abc):
    for i in df['age']:
        if i<20:
            return 20
        else:
            return i
        
df['age'] = df['age'].apply(age_less_20())
df[sales] = df['sales'].apply(age_less_20())

In [117]:
def even_odd(n):
    if n%2==0:
        return "even"
    else:
        return "odd"

In [120]:
even_odd(13)

'odd'