In [16]:
name='satyam'
number=12345
abc= "my name is satyam"
# print(name)

In [17]:
name
# number

'satyam'

In [18]:
print(name)
number

satyam

12345

In [19]:
name
print(number)

12345

In [20]:
print("my name is satyam")

my name is satyam

In [21]:
print(12345)

12345

In [23]:
a=10
a=15
print(a)

15

In [24]:
a=15.7
print(a)

15.7

In [25]:
a="satyam"
print(a)

satyam

In [ ]:
int--1,2,3,4,5
float--1.5,2.6,3.4
char-"", "satyam","akash","12345"
date-"06-07-1993","15-12-2000"
boolean- True/False, 0/1, Yes/No
complex-1+5j,3+16j
list--
set
dictonary
tupple

In [26]:
a=10
print(a)
print(type(a))

10
<class 'int'>

In [28]:
b=5.6
print(b)
print(type(b))

5.6
<class 'float'>

In [29]:
c=5.0
print(c)
print(type(c))

5.0
<class 'float'>

In [30]:
abc="satyam"
print(abc)
print(type(abc))

satyam
<class 'str'>

In [31]:
x,y,z=1,2,3
print(x)
print(y)
print(z)
print(x,y,z)

1
2
3
1 2 3

In [32]:
z=10
print(type(z))

<class 'int'>

In [33]:
z

10

In [34]:
y=float(z)
print(y)
print(type(y))

10.0
<class 'float'>

In [37]:
x=5.8
y=int(x)
print(y)
print(type(y))

5
<class 'int'>

In [38]:
x=10
y=str(x)
print(y)
print(type(y))

10
<class 'str'>

In [39]:
print(y)

10

In [41]:
abc=10
print(abc+10)

20

In [43]:
print(15<20)

True

In [44]:
print(15>20)

False

In [45]:
a=100
b=20
c=a+b
print(c)

120

In [46]:
a=100
b=20
c=a-b
print(c)

80

In [50]:
a=100
b=20
c=a*b
print(c)

2000

In [51]:
a=100
b=20
c=a/b
print(c)

5.0

In [52]:
a=100
b=15
c=a/b
print(c)

6.666666666666667

In [53]:
a=100
b=15
c=a//b
print(c)

6

In [54]:
a=100
b=15
c=a%b
print(c)

10

In [60]:
a=5
b=2
c=a**b #5 square 2
print(c)

25

In [62]:
a=5
b=3
c=a**b #5 square 2
print(c)

125

In [ ]:
opertor
arithmatic
assignment
comparision
logical
identity
bitwise

In [ ]:
arithmatic operator
+,-,*,/,//,**,%

In [ ]:
assignment:-
asus,lenovo,hp

laptop="lenovo"

In [ ]:
comparision
<,>,=,<=,>=,!=,==

In [ ]:
logical
and , or ,in, not in
&,|,in,not in

In [ ]:
special/identity
between and

In [ ]:
#data types in Python
int,float,boolean,string,complex,date

List,set,dictionary,Tuple

In [ ]:
#List datatype
1. Mention in square bracket-[]
2.Collection of item (includes int,float,string)
3.It is mutable- means we can change,add,remove items from a list

In [64]:
abc=[1,2,3,"apple","grapes"]
type(abc)

list

In [65]:
# no of item present in a list
len(abc)

5

In [67]:
# add item to a list in the last position
abc.append("Banana")

In [68]:
print(abc)

[1, 2, 3, 'apple', 'grapes', 'Banana']

In [69]:
# Indexing
abc[:]

[1, 2, 3, 'apple', 'grapes', 'Banana']

In [70]:
abc[1:]

[2, 3, 'apple', 'grapes', 'Banana']

In [71]:
abc[2:]

[3, 'apple', 'grapes', 'Banana']

In [72]:
abc[2:5]

[3, 'apple', 'grapes']

In [73]:
abc[:4]

[1, 2, 3, 'apple']

In [74]:
abc[2:4]

[3, 'apple']

In [75]:
# Reverse string value in a list
abc[::-1]

['Banana', 'grapes', 'apple', 3, 2, 1]

In [77]:
abc[-1]

'Banana'

In [78]:
abc

[1, 2, 3, 'apple', 'grapes', 'Banana']

In [81]:
abc[5]

'Banana'

In [83]:
abc

[1, 2, 3, 'apple', 'grapes', 'Banana']

In [84]:
# insert item in between the list
abc.insert(3,4)
abc

[1, 2, 3, 4, 'apple', 'grapes', 'Banana']

In [85]:
abc

[1, 2, 3, 4, 'apple', 'grapes', 'Banana']

In [87]:
abc.append(5)

In [88]:
abc

[1, 2, 3, 4, 'apple', 'grapes', 'Banana', 5]

In [90]:
abc.append([6])

In [91]:
abc

[1, 2, 3, 4, 'apple', 'grapes', 'Banana', 5, [6]]

In [100]:
xyz=[1,2,3,"apple","grapes"]
xyz

[1, 2, 3, 'apple', 'grapes']

In [101]:
xyz.append([4,5])

In [102]:
xyz

[1, 2, 3, 'apple', 'grapes', [4, 5]]

In [103]:
xyz.extend([4,5])

In [104]:
xyz

[1, 2, 3, 'apple', 'grapes', [4, 5], 4, 5]

In [105]:
# remove a item in a list
xyz.pop(5)

[4, 5]

In [106]:
xyz

[1, 2, 3, 'apple', 'grapes', 4, 5]

In [108]:
# replacing item with a another item
xyz[4]="Banana"

In [109]:
xyz

[1, 2, 3, 'apple', 'Banana', 4, 5]

In [116]:
xyz=[1,2,3,4,5]
print(xyz*3)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
set
1.we cant do indexing in set
2.It has only unique value
3. written in curly bracket-{}

In [110]:
abc={1,2,3,"apple","banana"}
abc

{1, 2, 3, 'apple', 'banana'}

In [111]:
type(abc)

set

In [112]:
len(abc)

5

In [114]:
# add item to a set
abc.add("mango")

In [115]:
abc

{1, 2, 3, 'apple', 'banana', 'mango'}

In [117]:
abc={1,2,3,4,5,1,2}

In [118]:
abc

{1, 2, 3, 4, 5}

In [119]:
set1={"A","B","C"}
set2={"A","B","C","D","E"}

In [120]:
set2.difference(set1)

{'D', 'E'}

In [121]:
set2.intersection(set1)

{'A', 'B', 'C'}

In [ ]:
dictionaries
1.There is key & its value is asssociated.
2.Mutuable-We can add, change & remove item
3. With in curly bracket having keys & values

In [126]:
dict={"A":1,"B":2,"C":3,"D":4}

In [128]:
dict.keys()

dict_keys(['A', 'B', 'C', 'D'])

In [129]:
dict.values()

dict_values([1, 2, 3, 4])

In [130]:
type(dict)

dict

In [134]:
dict["D"]

4

In [139]:
dict

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [140]:
for y in dict.keys():
    print(y)

A
B
C
D

In [136]:
for x in dict.values():
    print(x)

1
2
3
4

In [137]:
for x in dict.items():
    print(x)

('A', 1)
('B', 2)
('C', 3)
('D', 4)

In [141]:
dict["D"]=5
dict

{'A': 1, 'B': 2, 'C': 3, 'D': 5}

In [142]:
dict["C"]=10

In [143]:
dict

{'A': 1, 'B': 2, 'C': 10, 'D': 5}

In [ ]:
tuples
1.Immutable- cant add, remove,change the items
2.mentioned in ()

In [144]:
abc=(1,2,3,"apple","HP")
abc

(1, 2, 3, 'apple', 'HP')

In [145]:
type(abc)

tuple

In [146]:
len(abc)

5

In [147]:
abc[0]

1

In [148]:
abc.count(1)

1

In [150]:
abc=(1,1,1,2,2,4,5,6,6)

In [153]:
abc.count(4)

1

In [161]:
abc=(1,2,3,"HP","Apple")
abc[3]

'HP'

In [155]:
abc.index("HP")

3

In [156]:
abc=[1,2,3]
abc.index(2)

1

In [162]:
abc.index("apple")

4

In [1]:
list,set,dict,tuple
lst=[1,2,3,"abc","xyz"]
print(lst*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
import export data from different format.

In [ ]:
python has different libraries for different operations.
frequently used lirarry
-pandas:-manipulation,analysis,import,export,cleaning of data
-numpy-numerical opration on array
-matplotlib-bar char,line chart,histogram,bubble chart
-seaborn-box plot
-scikitlearn-machine learing

In [19]:
import pandas as pd

In [26]:
# for data import

# akash_tbl= pd.read_excel(r"C:\Users\ARPAN PANIGRAHI\Sample-Superstore_Dashboard.xlsx", sheet_name="Sheet1")
akash_tbl= pd.read_csv(r"C:\Users\user\OneDrive - Alliance University\Desktop\New folder (6)\VRINDA.csv")

In [28]:
print(akash_tbl)

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
0,1,171-1029312-3038738,1029312,Women,44,04-12-2022,Delivered,Myntra,JNE1233-BLUE-KR-031-XXL,kurta,XXL,1,INR,376,MOHALI,PUNJAB,140301,IN,False
1,2,405-2183842-2225946,2183842,Women,29,04-12-2022,Delivered,Ajio,SET414-KR-NP-L,Set,L,1,INR,1449,GURUGRAM,HARYANA,122002,IN,False
2,3,171-1641533-8921966,1641533,Women,67,04-12-2022,Delivered,Myntra,SET261-KR-PP-S,Set,S,1,INR,453,KOLKATA,WEST BENGAL,700029,IN,False
3,4,404-7490807-6300351,7490807,Women,20,04-12-2022,Delivered,Amazon,SET110-KR-PP-M,Set,M,1,INR,729,THANJAVUR,TAMIL NADU,613007,IN,False
4,5,403-9293516-4577154,9293516,Women,62,04-12-2022,Delivered,Myntra,JNE2294-KR-A-XXL,kurta,XXL,1,INR,544,GURUGRAM,HARYANA,122001,IN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31042,31043,405-4724097-1016369,4724097,M,60,06-01-2022,Delivered,Flipkart,J0083-KR-XL,kurta,XL,One,INR,565,PUNE,MAHARASHTRA,412307,IN,False
31043,31044,405-4724097-1016369,4724097,M,34,06-01-2022,Delivered,Myntra,J0010-LCD-S,Set,S,One,INR,939,BENGALURU,KARNATAKA,560061,IN,False
31044,31045,408-3572295-5992330,3572295,M,29,06-01-2022,Delivered,Amazon,SET398-KR-PP-L,Set,L,One,INR,1115,PITHORAGARH,UTTARAKHAND,262501,IN,False
31045,31046,405-1423498-9705162,1423498,M,46,06-01-2022,Delivered,Amazon,JNE3568-KR-M,kurta,M,One,INR,399,DHULE,MAHARASHTRA,424006,IN,False
31046,31047,408-4694875-8249153,4694875,M,36,06-01-2022,Delivered,Flipkart,J0341-DR-XXXL,Western Dress,3XL,One,INR,791,WARANGAL,TELANGANA,506001,IN,False

In [29]:
bablu_tbl=pd.read_excel(r"C:\Users\user\OneDrive - Alliance University\Desktop\New folder (6)\sample_store.xlsx")
bablu_tbl

,CUSTOMER_ID,Company,GENDER,DOB,Age,STATE_CODE,PRODUCT,UNITS,SALES_PRICE,DISCOUNT
0,1000032547,MED +,Female,1984-09-15,29,QLD,PROD992,4,612,0.42
1,1000032548,DR.REDDYS,Female,1974-07-15,39,WA,PROD399,17,715,0.07
2,1000032549,RELEGARE,Female,1959-04-01,54,NSW,PROD36,1,322,0.16
3,1000032550,GSK,Male,1978-05-16,35,VIC,PROD46,2,633,0.08
4,1000032551,GSK,Male,1978-12-16,34,VIC,PROD552,12,839,0.42
...,...,...,...,...,...,...,...,...,...,...
5107,1000037830,RELEGARE,Male,1935-11-23,77,WA,PROD493,3,195,0.25
5108,1000037831,APPOLO,Female,1956-08-27,57,WA,PROD549,1,498,0.42
5109,1000037832,GSK,Female,1982-05-13,31,WA,PROD296,9,738,0.04
5110,1000037833,MED +,Female,1960-01-14,53,WA,PROD682,6,781,0.25
5111,1000037834,RANBAXY,Female,1971-12-22,41,WA,PROD225,1,561,0.36

In [30]:
# top2
bablu_tbl.head(2)

,CUSTOMER_ID,Company,GENDER,DOB,Age,STATE_CODE,PRODUCT,UNITS,SALES_PRICE,DISCOUNT
0,1000032547,MED +,Female,1984-09-15,29,QLD,PROD992,4,612,0.42
1,1000032548,DR.REDDYS,Female,1974-07-15,39,WA,PROD399,17,715,0.07

In [31]:
bablu_tbl.tail(5)

,CUSTOMER_ID,Company,GENDER,DOB,Age,STATE_CODE,PRODUCT,UNITS,SALES_PRICE,DISCOUNT
5107,1000037830,RELEGARE,Male,1935-11-23,77,WA,PROD493,3,195,0.25
5108,1000037831,APPOLO,Female,1956-08-27,57,WA,PROD549,1,498,0.42
5109,1000037832,GSK,Female,1982-05-13,31,WA,PROD296,9,738,0.04
5110,1000037833,MED +,Female,1960-01-14,53,WA,PROD682,6,781,0.25
5111,1000037834,RANBAXY,Female,1971-12-22,41,WA,PROD225,1,561,0.36

In [34]:
bablu_tbl[0:3]

,CUSTOMER_ID,Company,GENDER,DOB,Age,STATE_CODE,PRODUCT,UNITS,SALES_PRICE,DISCOUNT
0,1000032547,MED +,Female,1984-09-15,29,QLD,PROD992,4,612,0.42
1,1000032548,DR.REDDYS,Female,1974-07-15,39,WA,PROD399,17,715,0.07
2,1000032549,RELEGARE,Female,1959-04-01,54,NSW,PROD36,1,322,0.16

In [36]:
bablu_tbl.shape

(5112, 10)

In [37]:
bablu_tbl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5112 entries, 0 to 5111
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CUSTOMER_ID  5112 non-null   int64
 1   Company      5112 non-null   object
 2   GENDER       5112 non-null   object
 3   DOB          5112 non-null   datetime64[ns]
 4   Age          5112 non-null   int64
 5   STATE_CODE   5112 non-null   object
 6   PRODUCT      5112 non-null   object
 7   UNITS        5112 non-null   int64
 8   SALES_PRICE  5112 non-null   int64
 9   DISCOUNT     5112 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 399.5+ KB

In [39]:
bablu_tbl.dtypes

CUSTOMER_ID             int64
Company                object
GENDER                 object
DOB            datetime64[ns]
Age                     int64
STATE_CODE             object
PRODUCT                object
UNITS                   int64
SALES_PRICE             int64
DISCOUNT              float64
dtype: object

In [40]:
bablu_tbl.describe()

        CUSTOMER_ID          Age        UNITS  SALES_PRICE     DISCOUNT
count  5.112000e+03  5112.000000  5112.000000   5112.00000  5112.000000
mean   1.000035e+09    50.214397     5.308881    547.02230     0.245505
std    1.516922e+03    14.950142     5.676040    259.82261     0.146786
min    1.000033e+09    20.000000     1.000000    100.00000     0.000000
25%    1.000034e+09    39.000000     2.000000    320.00000     0.120000
50%    1.000035e+09    50.000000     4.000000    542.00000     0.240000
75%    1.000037e+09    62.000000     7.000000    775.00000     0.370000
max    1.000038e+09    84.000000    78.000000   1000.00000     0.500000

In [45]:
bablu_tbl.isnull().sum().sum()

0

In [46]:
# for data import

# akash_tbl= pd.read_excel(r"C:\Users\ARPAN PANIGRAHI\Sample-Superstore_Dashboard.xlsx", sheet_name="Sheet1")
akash_tbl= pd.read_csv(r"C:\Users\user\OneDrive - Alliance University\Desktop\New folder (6)\VRINDA.csv")

In [47]:
akash_tbl

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
0,1,171-1029312-3038738,1029312,Women,44,04-12-2022,Delivered,Myntra,JNE1233-BLUE-KR-031-XXL,kurta,XXL,1,INR,376,MOHALI,PUNJAB,140301,IN,False
1,2,405-2183842-2225946,2183842,Women,29,04-12-2022,Delivered,Ajio,SET414-KR-NP-L,Set,L,1,INR,1449,GURUGRAM,HARYANA,122002,IN,False
2,3,171-1641533-8921966,1641533,Women,67,04-12-2022,Delivered,Myntra,SET261-KR-PP-S,Set,S,1,INR,453,KOLKATA,WEST BENGAL,700029,IN,False
3,4,404-7490807-6300351,7490807,Women,20,04-12-2022,Delivered,Amazon,SET110-KR-PP-M,Set,M,1,INR,729,THANJAVUR,TAMIL NADU,613007,IN,False
4,5,403-9293516-4577154,9293516,Women,62,04-12-2022,Delivered,Myntra,JNE2294-KR-A-XXL,kurta,XXL,1,INR,544,GURUGRAM,HARYANA,122001,IN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31042,31043,405-4724097-1016369,4724097,M,60,06-01-2022,Delivered,Flipkart,J0083-KR-XL,kurta,XL,One,INR,565,PUNE,MAHARASHTRA,412307,IN,False
31043,31044,405-4724097-1016369,4724097,M,34,06-01-2022,Delivered,Myntra,J0010-LCD-S,Set,S,One,INR,939,BENGALURU,KARNATAKA,560061,IN,False
31044,31045,408-3572295-5992330,3572295,M,29,06-01-2022,Delivered,Amazon,SET398-KR-PP-L,Set,L,One,INR,1115,PITHORAGARH,UTTARAKHAND,262501,IN,False
31045,31046,405-1423498-9705162,1423498,M,46,06-01-2022,Delivered,Amazon,JNE3568-KR-M,kurta,M,One,INR,399,DHULE,MAHARASHTRA,424006,IN,False
31046,31047,408-4694875-8249153,4694875,M,36,06-01-2022,Delivered,Flipkart,J0341-DR-XXXL,Western Dress,3XL,One,INR,791,WARANGAL,TELANGANA,506001,IN,False

In [48]:
akash_tbl.head(5)

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
0,1,171-1029312-3038738,1029312,Women,44,04-12-2022,Delivered,Myntra,JNE1233-BLUE-KR-031-XXL,kurta,XXL,1,INR,376,MOHALI,PUNJAB,140301,IN,False
1,2,405-2183842-2225946,2183842,Women,29,04-12-2022,Delivered,Ajio,SET414-KR-NP-L,Set,L,1,INR,1449,GURUGRAM,HARYANA,122002,IN,False
2,3,171-1641533-8921966,1641533,Women,67,04-12-2022,Delivered,Myntra,SET261-KR-PP-S,Set,S,1,INR,453,KOLKATA,WEST BENGAL,700029,IN,False
3,4,404-7490807-6300351,7490807,Women,20,04-12-2022,Delivered,Amazon,SET110-KR-PP-M,Set,M,1,INR,729,THANJAVUR,TAMIL NADU,613007,IN,False
4,5,403-9293516-4577154,9293516,Women,62,04-12-2022,Delivered,Myntra,JNE2294-KR-A-XXL,kurta,XXL,1,INR,544,GURUGRAM,HARYANA,122001,IN,False

In [49]:
akash_tbl.tail(2)

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
31045,31046,405-1423498-9705162,1423498,M,46,06-01-2022,Delivered,Amazon,JNE3568-KR-M,kurta,M,One,INR,399,DHULE,MAHARASHTRA,424006,IN,False
31046,31047,408-4694875-8249153,4694875,M,36,06-01-2022,Delivered,Flipkart,J0341-DR-XXXL,Western Dress,3XL,One,INR,791,WARANGAL,TELANGANA,506001,IN,False

In [50]:
akash_tbl[50:56]

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
50,51,405-4213846-6141157,4213846,Women,27,04-12-2022,Delivered,Amazon,J0003-SET-M,Set,M,1,INR,664,HYDERABAD,TELANGANA,500039,IN,False
51,52,407-7381557-9088310,7381557,Women,21,04-12-2022,Delivered,Others,J0230-SKD-M,Set,M,1,INR,1112,Allahabad,UTTAR PRADESH,211001,IN,False
52,53,403-0817885-3061963,817885,Women,43,04-12-2022,Delivered,Others,J0113-TP-S,Top,S,1,INR,540,SOUTH DELHI,DELHI,110017,IN,False
53,54,171-2439278-5433152,2439278,M,39,04-12-2022,Delivered,Myntra,SET268-KR-NP-XS,Set,XS,1,INR,698,KHALILABAD,UTTAR PRADESH,272175,IN,False
54,55,405-8874360-4913961,8874360,M,23,04-12-2022,Delivered,Others,J0004-SKD-XXL,Set,XXL,1,INR,1115,NEW DELHI,DELHI,110016,IN,False
55,56,408-4675134-5301129,4675134,Women,58,04-12-2022,Delivered,Meesho,SET209-KR-PP-XXL,Set,XXL,1,INR,507,HYDERABAD,TELANGANA,500008,IN,False

In [51]:
akash_tbl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31047 entries, 0 to 31046
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             31047 non-null  int64
 1   Order ID          31047 non-null  object
 2   Cust ID           31047 non-null  int64
 3   Gender            31047 non-null  object
 4   Age               31047 non-null  int64
 5   Date              31047 non-null  object
 6   Status            31047 non-null  object
 7   Channel           31047 non-null  object
 8   SKU               31047 non-null  object
 9   Category          31047 non-null  object
 10  Size              31047 non-null  object
 11  Qty               31047 non-null  object
 12  currency          31047 non-null  object
 13  Amount            31047 non-null  int64
 14  ship-city         31047 non-null  object
 15  ship-state        31047 non-null  object
 16  ship-postal-code  31047 non-null  int64
 17  ship-country      31047 non-null  object
 18  B2B               31047 non-null  bool
dtypes: bool(1), int64(5), object(13)
memory usage: 4.3+ MB

In [52]:
akash_tbl.dtypes

index                int64
Order ID            object
Cust ID              int64
Gender              object
Age                  int64
Date                object
Status              object
Channel             object
SKU                 object
Category            object
Size                object
Qty                 object
currency            object
Amount               int64
ship-city           object
ship-state          object
ship-postal-code     int64
ship-country        object
B2B                   bool
dtype: object

In [53]:
akash_tbl.describe()

             index       Cust ID           Age        Amount  ship-postal-code
count  31047.00000  3.104700e+04  31047.000000  31047.000000      31047.000000
mean   15524.00000  4.936824e+06     39.496570    682.074822     460474.587206
std     8962.64124  2.900678e+06     15.117233    268.582173     198116.733009
min        1.00000  8.950000e+02     18.000000    229.000000     110001.000000
25%     7762.50000  2.416471e+06     28.000000    486.000000     313001.000000
50%    15524.00000  4.909885e+06     37.000000    646.000000     500028.000000
75%    23285.50000  7.454182e+06     47.000000    794.000000     600040.000000
max    31047.00000  9.999233e+06     78.000000   3036.000000     855117.000000

In [54]:
akash_tbl.shape

(31047, 19)

In [57]:
akash_tbl.isnull().sum().sum()

0